header.page-header {
	margin-top: 0px;
	text-align: center;
	#gradient > .vertical(@header-bg-end, @header-bg-end, @header-bg-start);

	border-bottom: 1px solid @white;
	#shadow > .box(-5px 1px 8px 5px fade(black, 10%));

	h1 {
		margin-top: 0px;
		padding-top: 15px;
	}
}