<html>
<head>
    <title>Pocket Insights {% if pageTitle is defined %}[{{ pageTitle }}]{% endif %}</title>

    <link href="/assets/styles.css" type="text/css" rel="stylesheet" />

    {{ block('head') }}
</head>
<body>
    <header class="page-header">
        <h1>
            Hello, {% if username is not null %}{{ username }}{% else %}Pocket user{% endif %}!

            {% if username is null %}
                <small>Hey, <a href="{{ path('login') }}">login</a> to see awesome stuff ;)</small>
            {% endif %}
        </h1>
    </header>

    <div id="content">
        {{ block('content') }}
    </div>

    {% if constant('PROD') %}
        {{ include('inc/analytics.twig') }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>if (!window.jQuery) document.write('<script src="/assets/jquery/jquery.min.js"><\/script>')</script>
    {% else %}
        <script src="/assets/jquery/jquery.js"></script>
    {% endif %}

    <script src="/assets/underscore/underscore-min.js"></script>
    <script src="/assets/main.js"></script>
    {{ block('js') }}
</body>
</html>