{% set pageTitle = 'Home' %}
{% extends 'inc/template.twig' %}

    {% block head %}
        {% if username is not null %}
            <link href="/assets/jquery-ui/smoothness/jquery-ui-1.10.3.calendar.css" type="text/css" rel="stylesheet" />
        {% endif %}
    {% endblock %}

    {% block js %}
        {% if username is not null %}
            <script src="/assets/jquery-ui/jquery-ui-1.10.3.calendar.min.js"></script>
            <script src="/assets/dygraph-combined.js"></script>
            <script type="text/javascript">
                {% autoescape 'js' %}
                var inOutRaw = {{ org_sums|json_encode|raw }},
                    unreadRaw = {{ unread|json_encode|raw }},
                    graphSettings = _({
                        width        : '100%',
                        height       : 300,
                        rightGap     : 20,
                        drawXGrid    : false,
                        drawYGrid    : false,
                        animatedZooms: true,
                        legend       : 'always'
                    })

                var inOut = []
                inOutRaw.forEach(function (entry) {
                    inOut.push([new Date(entry.date * 1000), entry.unread, entry.read, entry.balance])
                })

                var unread = []
                unreadRaw.forEach(function (entry) {
                    unread.push([new Date(entry.date * 1000), entry.unread])
                })

                var inOutGraph = new Dygraph(document.getElementById('in-out'), inOut, graphSettings.extend({
                    colors: ['darkGreen', 'crimson', 'steelBlue'],
                    labels: ['Day', 'Added', 'Read', 'Balance'],
                    series: {
                        Added  : { fillGraph: true },
                        Read   : { fillGraph: true },
                        Balance: { strokeWidth: 2 }
                    }
                }))

                var unreadGraph = new Dygraph(document.getElementById('total-unread'), unread, graphSettings.extend({
                    colors   : ['steelBlue'],
                    labels   : ['Day', 'Total unread'],
                    fillGraph: true
                }))
                {% endautoescape %}
            </script>
        {% endif %}
    {% endblock %}

{% block content %}
    {% if username is not null %}
        <div id="graphs">
            <h2>Here's your basic usage</h2>

            <h3>In/out flux</h3>

            <div id="in-out"></div>

            <h3>Total unread articles per day</h3>

            <div id="total-unread"></div>

            {% if debug %}
                <h3>Balance</h3>
                <ul id="debug-sums">
                    {% for item in org_sums %}
                        <li>
                            {#{{ item.date }}:#}
                            {{ item.date|date('M d<\\s\\u\\p>S</\\s\\u\\p>, Y')|raw }}:
                            {% if item.unread != 0 and item.read != 0 %}
                                +{{ item.unread }} / -{{ item.read }} = {{ item.balance }}
                            {% elseif item.unread != 0 %}
                                +{{ item.unread }}
                            {% elseif item.read != 0 %}
                                +{{ item.read }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul id="debug-unread">
                    {% for item in unread %}
                        <li>
							{#{{ item.date }}: #}
                            {{ item.date|date('M d<\\s\\u\\p>S</\\s\\u\\p>, Y')|raw }}:
                            {{ item.unread }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if debug %}
            <div id="raw-data">
                <h2>Toggle raw data</h2>
                <pre>{{ raw_data }}</pre>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
