/*
 * This file should be renamed to "variables.less" to overwrite the
 * Twitter Bootstrap variables, as long as it holds all the needed variables.
 */

@black: #2E2E2E;
@white: #F0F0F0;
@bg: #F1F1F1;

@header-bg-start: rgba(252, 252, 252, 0.671);
@header-bg-end: rgba(212, 212, 212, 0.67);