////////////////////////
// Flawless Semantics //  by Sean Steindl aka laughingwithu
///////////////////////
// Defaults that you can freely override. @gutter-method can be either 'margin' or 'padding'.
@columns: 12; // Specifies the number of columns in the grid: Default = 12
@column-width: 60; // The width of columns in the grid. Default = 30
@gutter-width: 10; // The gap between elements in the grid (any css unit) Default = 60
@total-width: 80%; // Uncomment to specify a width smaller than 100%. Any percentage value. Default 80%.

// Rythymless variables. To maintain the vertical rhythm it is important to use @rythymless-gap for your vertical spacing (eg. margin-bottom:@rythymless-gap;).
@rhythmic-unit: 22.4px; // Good rule of thumb is 1.4 X @rhythmic-fontsize. Default 22.4px
@rhythmic-fontsize: 16px; // base size of your text. Default 16px
@show-rhythm: false; // true or false.
@rhythm-color: #eef; // Color of the lines showing the vertical rhythm. Any Css Color.

// Font-sizes (in factors relative to @rhythmic-fontsize) Do not use unit values here.
@h1-size:2.8; // default 2.8
@h2-size:2.42; // default 2.42
@h3-size:1.2; // default 1.2
@h4-size:1.1; // default 1.1
@h5-size:1.0; // default 1.1
@h6-size:1.0; // default 1.1
@small-size:0.8; // default 0.8
@sup-sub-size:.65; // default .65

// Variables specific to the .show-grid() mixin
@show-grid: true; // true or false
@gutter-color: rgba(255,255,255,0.01); // Color for the gutters. Any CSS color. Default rgba(255,255,255,.01)
@column-color:rgba(0,0,255,.06); // Color for the columns. Any CSS color. Default rgba(0,0,255,.06)

///////////////////
// LOAD THE GRID //
///////////////////
// Required
@import "normalize.less"; // import normalize styles
@import "grid/useful-mixins.less"; // loads several useful mixins and calculations required by semantic.gs
@import "grid/flawless-grid.less"; // loads the grid
@import "grid/rhythm.less"; // import the vertical rythm grid

///////////////////
// LOAD THE YOUR STYLES//
///////////////////
//@import 'typography.less'; // import typography styles

body {
	.widths(300px, 100%);
}